<template>
    <button v-on:click="goToLink">
      <div class="text">{{ button_label }}</div>
    </button>
</template>

<script>
    export default {
        name: "Button",
        props: [
          'button_label',
          'button_link'
        ],
        methods: {
          goToLink() {
            window.location.href = this.button_link;
          }
        }
    }
</script>

<style scoped>
  button {
    border: 2px solid black;
    border-radius: 3px;
    width: 200px;
    display: block;
    float: right;

    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }

  button:hover {
    background-position: left bottom;
  }

  .text {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: black;
    transition: all .6s ease-out;
    display: block;
    width: 100%;
    padding: 10px 0px;
  }

  .text:hover {
    color: white;
  }

</style>
