<template>
    <div :style="style" class="project-card" v-on:click="goToProjectLink">
      <h3>{{ project_name }}</h3>
      <!--<img v-bind:src="{{ project_gif }}"/> -->
      <p>{{ project_description }}</p>
    </div>
</template>

<script>
    export default {
        name: "Project.vue",
        props: [
          'project_name',
          'project_gif',
          'project_description',
          'project_link',
          'project_card_color'
        ],
        computed: {
          style() {
            return 'background-color: ' + this.project_card_color;
          }
        },
        methods: {
          goToProjectLink() {
            window.location.href = this.project_link;
          }
        }
    }
</script>

<style scoped>
  .project-card {
    height: 100%;
    width: 100%;
    padding: 75px 25px;
    color: white;
    transition: all .2s ease-in-out;
  }

  .project-card:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 0px 0px 69px -16px rgba(128,128,128,1);
    -moz-box-shadow: 0px 0px 69px -16px rgba(128,128,128,1);
    box-shadow: 0px 0px 69px -16px rgba(128,128,128,1);
  }

  h3 {
    text-align: center;
    padding-bottom: 25px;
  }

  p {
    padding-top: 25px;
    text-align: center;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
</style>
