<template>
    <div class="splash-content">
      <h5>ARMAAN GUPTA</h5>
      <h2>Leader of the
          <span id="tight-space">
            <span class="r">K</span><span class="o">r</span><span class="y">e</span><span class="g">a</span><span class="b">t</span><span class="p">i</span><span class="r">v</span><span class="o">e</span>
            <span id="second-part-of-logo">Foundation</span>
          </span>
      </h2>
    </div>
</template>

<script>
    export default {
        name: "SplashContent.vue"
    }
</script>

<style scoped>
  h2 {
    text-align: center;
    font-weight: 300;
  }

  h5 {
    text-align: center;
    color: grey;
  }

  span {
    padding: 0;
    margin: 0;
  }

  #tight-space {
    letter-spacing: -1px;
    font-weight: 700;
  }

  #second-part-of-logo {
    font-weight: 500;
  }

  .splash-content {
    margin: 0 auto;
  }

  .r {
    color: red;
  }

  .o {
    color: orange;
  }

  .y {
    color: yellow;
  }

  .g {
    color: green;
  }

  .b {
    color: blue;
  }

  .p {
    color: purple;
  }
</style>
