<template>
  <section class="container mx-auto">
    <div id="parent">
      <SplashContent id="splash-content"></SplashContent>
    </div>
    <h1>Projects.</h1>
    <div id="project-cards">
      <div class="section">
        <div class="block md:flex subsection">
          <ProjectCard project_name="Test" project_card_color="red" project_description="cool"></ProjectCard>
          <ProjectCard project_name="Test" project_card_color="blue" project_description="cool"></ProjectCard>
        </div>
        <ProjectCard  project_name="Test" project_card_color="yellow" project_description="cool"></ProjectCard>
      </div>
      <div class="section">
        <div class="block md:flex subsection">
          <ProjectCard project_name="Test" project_card_color="red" project_description="cool"></ProjectCard>
          <ProjectCard project_name="Test" project_card_color="blue" project_description="cool"></ProjectCard>
        </div>
        <ProjectCard  project_name="Test" project_card_color="yellow" project_description="cool"></ProjectCard>
      </div>
    </div>
    <Button button_label="VIEW ALL" button_link=""></Button>
  </section>
</template>

<script>
import ProjectCard from '~/components/Project.vue'
import SplashContent from '~/components/SplashContent.vue';
import Button from '~/components/Button.vue';

export default {
  components: {
    ProjectCard,
    SplashContent,
    Button
  },
  data() {
    return {
      "featured_projects"
    }
  }
}
</script>

<style>
  h1 {
    font-size: 98px;
  }

  h2 {
    font-size: 54px;
  }

  h3 {
    font-size: 36px;
  }

  h5 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
    line-height: 12px;
  }

  #project-cards {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #parent {
    position: relative;
    height: 100vh;
    margin: 0 auto;
  }

  #splash-content {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    width: 100%;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 72px;
    }
  }

  @media (max-width: 468px) {
    h1 {
      font-size: 64px;
    }
  }
</style>
